BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 4
ColumnLimit: 100
NamespaceIndentation: All
AccessModifierOffset: -4
SeparateDefinitionBlocks: Always
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseSensitive
InsertBraces: true
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Always
